XMLConfig/soap/soap-client/src/main/resources/META-INF/spring/soap/todoWebService_wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://functionaltest.spring.fw.ntt.co.jp/todo"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TodoWebService" targetNamespace="http://functionaltest.spring.fw.ntt.co.jp/todo">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://functionaltest.spring.fw.ntt.co.jp/todo"
            attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://functionaltest.spring.fw.ntt.co.jp/todo" version="1.0">
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
            <xs:element name="createTodo" type="tns:createTodo" />
            <xs:element name="createTodoResponse" type="tns:createTodoResponse" />
            <xs:element name="deleteTodo" type="tns:deleteTodo" />
            <xs:element name="deleteTodoResponse" type="tns:deleteTodoResponse" />
            <xs:element name="deleteTodos" type="tns:deleteTodos" />
            <xs:element name="deleteTodosResponse" type="tns:deleteTodosResponse" />
            <xs:element name="getTodo" type="tns:getTodo" />
            <xs:element name="getTodoResponse" type="tns:getTodoResponse" />
            <xs:element name="getTodos" type="tns:getTodos" />
            <xs:element name="getTodosResponse" type="tns:getTodosResponse" />
            <xs:element name="handlerTest" type="tns:handlerTest" />
            <xs:element name="handlerTestResponse" type="tns:handlerTestResponse" />
            <xs:element name="timeoutTest" type="tns:timeoutTest" />
            <xs:element name="timeoutTestResponse" type="tns:timeoutTestResponse" />
            <xs:element name="updateTodo" type="tns:updateTodo" />
            <xs:element name="updateTodoResponse" type="tns:updateTodoResponse" />
            <xs:element name="uploadFile" type="tns:uploadFile" />
            <xs:element name="uploadFileResponse" type="tns:uploadFileResponse" />
            <xs:complexType name="deleteTodos">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="deleteTodosResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="uploadFile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="uploadFileResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="webFaultBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="tns:errorBean" />
                    <xs:element minOccurs="0" name="type" type="tns:webFaultType" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="errorBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:string" />
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                    <xs:element minOccurs="0" name="path" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getTodos">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="getTodosResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="todos" type="tns:todo" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="todo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element name="finished" type="xs:boolean" />
                    <xs:element minOccurs="0" name="title" type="xs:string" />
                    <xs:element minOccurs="0" name="todoId" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateTodo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todo" type="tns:todo" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateTodoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todo" type="tns:todo" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteTodo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todoId" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteTodoResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="timeoutTest">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="timeoutTestResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="createTodo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todo" type="tns:todo" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createTodoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todo" type="tns:todo" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="handlerTest">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="handlerTestResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="getTodo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todoId" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getTodoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="todo" type="tns:todo" />
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="webFaultType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ACCESS_DEFINED_FAULT" />
                    <xs:enumeration value="BUSINESS_FAULT" />
                    <xs:enumeration value="RESOURCE_NOT_FOUND_FAULT" />
                    <xs:enumeration value="VALIDATION_FAULT" />
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="WebFault" nillable="true" type="tns:webFaultBean" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="WebFaultException">
        <wsdl:part element="tns:WebFault" name="WebFaultException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTodos">
        <wsdl:part element="tns:deleteTodos" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadFile">
        <wsdl:part element="tns:uploadFile" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTodosResponse">
        <wsdl:part element="tns:deleteTodosResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTodos">
        <wsdl:part element="tns:getTodos" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="timeoutTest">
        <wsdl:part element="tns:timeoutTest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="handlerTestResponse">
        <wsdl:part element="tns:handlerTestResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="timeoutTestResponse">
        <wsdl:part element="tns:timeoutTestResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTodoResponse">
        <wsdl:part element="tns:getTodoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadFileResponse">
        <wsdl:part element="tns:uploadFileResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTodoResponse">
        <wsdl:part element="tns:createTodoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTodo">
        <wsdl:part element="tns:updateTodo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTodo">
        <wsdl:part element="tns:deleteTodo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTodoResponse">
        <wsdl:part element="tns:updateTodoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTodo">
        <wsdl:part element="tns:createTodo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="handlerTest">
        <wsdl:part element="tns:handlerTest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTodoResponse">
        <wsdl:part element="tns:deleteTodoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTodo">
        <wsdl:part element="tns:getTodo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTodosResponse">
        <wsdl:part element="tns:getTodosResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TodoWebService">
        <wsdl:operation name="deleteTodos">
            <wsdl:input message="tns:deleteTodos" name="deleteTodos">
            </wsdl:input>
            <wsdl:output message="tns:deleteTodosResponse" name="deleteTodosResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadFile">
            <wsdl:input message="tns:uploadFile" name="uploadFile">
            </wsdl:input>
            <wsdl:output message="tns:uploadFileResponse" name="uploadFileResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTodos">
            <wsdl:input message="tns:getTodos" name="getTodos">
            </wsdl:input>
            <wsdl:output message="tns:getTodosResponse" name="getTodosResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTodo">
            <wsdl:input message="tns:updateTodo" name="updateTodo">
            </wsdl:input>
            <wsdl:output message="tns:updateTodoResponse" name="updateTodoResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTodo">
            <wsdl:input message="tns:deleteTodo" name="deleteTodo">
            </wsdl:input>
            <wsdl:output message="tns:deleteTodoResponse" name="deleteTodoResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="timeoutTest">
            <wsdl:input message="tns:timeoutTest" name="timeoutTest">
            </wsdl:input>
            <wsdl:output message="tns:timeoutTestResponse" name="timeoutTestResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createTodo">
            <wsdl:input message="tns:createTodo" name="createTodo">
            </wsdl:input>
            <wsdl:output message="tns:createTodoResponse" name="createTodoResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="handlerTest">
            <wsdl:input message="tns:handlerTest" name="handlerTest">
            </wsdl:input>
            <wsdl:output message="tns:handlerTestResponse" name="handlerTestResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTodo">
            <wsdl:input message="tns:getTodo" name="getTodo">
            </wsdl:input>
            <wsdl:output message="tns:getTodoResponse" name="getTodoResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WebFaultException" name="WebFaultException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TodoWebServiceSoapBinding" type="tns:TodoWebService">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="deleteTodos">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="deleteTodos">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="deleteTodosResponse">
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadFile">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="uploadFile">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="uploadFileResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTodos">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="getTodos">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getTodosResponse">
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTodo">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="updateTodo">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="updateTodoResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTodo">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="deleteTodo">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="deleteTodoResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="timeoutTest">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="timeoutTest">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="timeoutTestResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createTodo">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="createTodo">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="createTodoResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="handlerTest">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="handlerTest">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="handlerTestResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTodo">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input name="getTodo">
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getTodoResponse">
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WebFaultException">
                <soap12:fault name="WebFaultException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TodoWebService">
        <wsdl:port binding="tns:TodoWebServiceSoapBinding" name="TodoWebPort">
            <soap12:address location="http://localhost:8080/soap-server/ws/TodoWebService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>